<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FWI Prediction</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f7f7f7;
            padding: 40px;
        }
        form {
            background-color: white;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0,0,0,0.1);
            max-width: 500px;
            margin: auto;
        }
        h2 {
            text-align: center;
            margin-top: 30px;
            color: #333;
        }
        input {
            margin-bottom: 15px;
        }
    </style>
</head>
<body>

    <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict_datapoint') }}" method="post">
        <input type="text" class="form-control" name="Temperature" placeholder="Temperature" required="required" />
        <input type="text" class="form-control" name="RH" placeholder="RH" required="required" />
        <input type="text" class="form-control" name="WS" placeholder="WS" required="required" />
        <input type="text" class="form-control" name="Rain" placeholder="Rain" required="required" />
        <input type="text" class="form-control" name="FFMC" placeholder="FFMC" required="required" />
        <input type="text" class="form-control" name="DMC" placeholder="DMC" required="required" />
        <input type="text" class="form-control" name="ISI" placeholder="ISI" required="required" />
        <input type="text" class="form-control" name="Classes" placeholder="Classes" required="required" />
        <input type="text" class="form-control" name="Region" placeholder="Region" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>


</body>
</html>